.addition__wrapper {
  position: relative;
  margin: 0 0 40px;
}

.addition__subtitle {
  margin: 0 0 30px;
  padding: 0;
  font-size: 24px;
  line-height: 24px;
  color: #111111;
  font-weight: 400;
}

.addition__subtitle::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 0;
  width: 33px;
  height: 3px;
  background-color: #68b738;
}

@media (min-width: $tablet-width) {
  .addition__subtitle {
    font-size: 36px;
    line-height: 36px;
  }
}
