.catalog__subtitle {
  font-size: 30px;
  line-height: 60px;
  color: #111111;
  font-weight: 700;
}

.product-list__item {
  list-style: none;
}

.product-list__item-title {
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  font-weight: 700;
}

.product-list__cell {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  font-weight: 400;
}

.product-list__cell--value {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  font-weight: 400;
}

.catalog__other-subtitle {
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog__other-text {
  font-size: 16px;
  line-height: 20px;
  color: #111111;
}

.button {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 400;
  background-color: #68b738;
}

.button--all {   /*Как сделать так, чтоб на данные стили переопределялась?*/
  color: #444444;
  background-color: #f2f2f2;
}
