.catalog {
  margin: 0 0 30px;
}

.catalog__subtitle {
  margin: 0;
  padding-bottom: 20px;
  font-size: 36px;
  line-height: 60px;
  color: #111111;
  font-weight: 400;
}

.catalog__other {
  position: relative;
  border-bottom: 1px solid #ededed;
}

.catalog__other-subtitle {
  margin: 0 0 10px;
  padding: 80px 0 0;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog__other-subtitle::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 125px;
  width: 30px;
  height: 30px;
  background-image: url("../../img/icon-plus-mobile.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.2;
}

.catalog__other-text {
  margin: 0 0 20px;
  padding: 0;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
}

.catalog__other-button {
  margin-bottom: 25px;
}

.catalog__bonus {
  position: relative;
  background-image: url("../../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog__bonus-title {
  margin: 0 auto;
  padding: 185px 0 45px;
  width: 170px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
}

.catalog__bonus-title::before {
  content: "";
  position: absolute;
  top: 65px;
  left: 115px;
  width: 55px;
  height: 60px;
  background-image: url("../../img/icon-gift.svg");
  fill: #ffffff;
  background-repeat: no-repeat;
  background-position: 0 0;
}

@media (min-width: $tablet-width) {
  .catalog__subtitle {
    padding: 0;
  }

  .catalog__other {
    margin: 140px 0 0 56px;
    width: 325px;
    border: 1px solid #ededed;
  }

  .catalog__other-wrapper {
    margin: 0 auto;
    padding: 0;
    width: 250px;
  }

  .catalog__other-subtitle {
    margin: 0 auto 30px;
    padding-top: 165px;
    width: 140px;
  }

  .catalog__other-subtitle::before {
    top: 65px;
    left: 90px;
    width: 60px;
    height: 60px;
    background-image: url("../../img/icon-plus.svg");
  }

  .catalog__other-text {
    margin: 0 auto 85px;
    padding: 0;
    width: 170px;
  }

  .catalog__subtitle {
    margin-bottom: 170px;
  }

  .catalog__bonus-title {
    padding: 75px 123px 70px 425px;
    width: 165px;
    text-align: left;
    color: black;
  }
}

@media (min-width: $desktop-width) {
  .catalog__subtitle {
    margin-bottom: 165px;
  }

  .catalog__other {
    margin: 140px 0 0 78px;
    width: 245px;
    border: 1px solid #ededed;
  }

  .catalog__other-wrapper {
    width: 170px;
  }

  .catalog__other-button {
    padding: 10px 38px;
  }

}
