.catalog__subtitle {
  font-size: 36px;
  line-height: 60px;
  color: #111111;
  font-weight: 400;
}

.catalog__other-subtitle {
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog__other-text {
  font-size: 16px;
  line-height: 20px;
  color: #111111;
}

.catalog__bonus {
  background-image: url("../../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog__bonus-title {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 400;
}
