.extra-list__item {
  list-style: none;
}

.extra-list__item-title {
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  font-weight: 700;
}

.extra-list__value {
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  font-weight: 400;
}
