.extra-list {
  margin: 0;
  padding: 0;
}

.extra-list__item {
  padding: 15px 0 18px;
  list-style: none;
  border-top: 1px solid #cdcdcd;
}

.extra-list__item:last-child {
  padding: 15px 0 18px;
  list-style: none;
  border-bottom: 1px solid #cdcdcd;
}

.extra-list__item-title {
  margin: 0 0 15px;
  padding: 0;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  font-weight: 400;
  text-transform: uppercase;
}

.extra-list__table {
  margin: 0 0 15px;
  padding: 0;
}

.extra-list__value {
  width: 190px;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  font-weight: 400;
  text-align: start;
}

.extra-list__value--field {
  margin-right: 0;
  width: 90px;
  text-align: end;
}

.extra-list__button:hover {
  background-color: #5eaa2f;
}

.extra-list__button:active {
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}

@media (min-width: $tablet-width) {
  .extra-list__item {
    display: flex;
    flex-wrap: wrap;
    margin-top: -1px;
    padding: 0;
    border: 1px solid #cdcdcd;
  }

  .extra-list__item-wrapper {
    flex-wrap: wrap;
    display: flex;
    margin: 0;
    padding: 30px 40px;
    width: 633px;
  }

  .extra-list__item-title {
    margin:  0 112px 0 0;
    width: 285px;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
  }

  .extra-list__value {
    width: 130px;
    font-size: 16px;
    line-height: 20px;
  }

  .extra-list__value--field {
    width: 95px;
  }

  .extra-list__button {
    width: 633px;
  }
}

@media (min-width: $desktop-width) {
  .extra-list__item-title {
    font-size: 20px;
    text-transform: uppercase;
  }

  .extra-list__item {
    display: flex;
    justify-content: space-between;
  }

  .extra-list__button {
    width: 245px;
    box-sizing: border-box;
  }
}
