.main-nav {
  flex-direction: column;
}

.main-nav__toggle {
  position: relative;
  width: 24px;
  height: 18px;
  border: 0;
  background-color: transparent;
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }
}

.main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 62px;
  width: 24px;
  height: 18px;
  background-image: url("../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
