.page-header__logo-image {
  margin: 10px 20px;
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    margin-right: 540px;
  }
}
