.page-header {
  display: flex;
  padding-top: 10px;
}

.page-header__logo {
  display: flex;
}

.page-header__logo-link {
  display: block;
  height: 40px;
  width: 192px;
}

.page-header__logo-image {
  height: 40px;
  width: 192px;
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    margin-right: 540px;
  }
}
