.principle-program__slogan {
  font-size: 36px;
  line-height: 60px;
  color: #111111;
  font-weight: bold;
}

.principle-program__text {
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  font-weight: normal;
}
