.product-list {
  margin: 0;
  padding: 0;
}

.product-list__item {
  position: relative;
  margin: 0;
  padding: 25px 0 25px;
  border-top: 1px solid #ededed;
  list-style: none;
}

.product-list__item:last-child {
  border-bottom: 1px solid #ededed;
}

.product-list__wrapper {
  display: block;
}

.product-list__item-link {
  display: block;
  width: 140px;
  height: 144px;
}

.product-list__item-link:nth-child(1n) {
  position: absolute;
  top: 0;
  left: 0;
}

.product-list__item-title {
  margin: 0 0 15px 140px;
  padding: 0;
  width: 75px;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  font-weight: 700;
}

.product-list__table {
  margin: 0 0 25px 140px;
  padding: 0;
  width: 140px;
}

.product-list__cell {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  font-weight: 400;
}

.product-list__cell--value {
  margin-right: 0;
  width: 35px;
  text-align: end;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  font-weight: 400;
}

@media (min-width: $tablet-width) {
  .product-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -62px 0 0;
    padding: 0;
  }

  .product-list__item {
    width: 325px;
    margin-right: 60px;
    background-color: #f2f2f2;
  }

  .product-list__wrapper {
    margin: 0 auto;
    width: 250px;
  }

  .product-list__item-title {
    text-align: center;
  }

  .product-list__cell {
    font-size: 16px;
    width: 260px;
  }

  .product-list__table {
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .product-list {
    margin: 0 -80px 0 0;
  }

  .product-list__item {
    width: 245px;
    margin-right: 80px;
  }

  .product-list__wrapper {
    display: block;
    width: 170px;
  }

  .product-list__cell {
    width: 175px;
  }
}
