.product-list__item {
  list-style: none;
}

.product-list__item-title {
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  font-weight: 700;
}

.product-list__cell {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  font-weight: 400;
}

.product-list__cell--value {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  font-weight: 400;
}
