.program__header {
  margin: 0 0 135px;
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-color: #65a93c;
}

@media (min-width: $tablet-width) {
  .program__header {
    margin: 0;
    background-image:none;
    background-color: #ffffff;
  }
}

@media (min-width: $desktop-width) {
  .program__header {
    background-image: none;
  }
}
