.program-type__list {
  margin-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .program-type__list {
    margin-bottom: 55px;
  }
}

@media (min-width: $desktop-width) {
  .program-type__list {
    margin-bottom: 85px;
  }
}
