.site-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.site-list__item {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  list-style: none;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.site-list__item a {
  display: block;
  font-size: 20px;
  line-height: 20px;
  color: #444444;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .site-list {
    justify-content: space-between;
    flex-direction: row;
    width: 440px;
  }

  .site-list__item {
    padding: 8px 0 10px;
    border: none;
  }

  .site-list__item--active {
    border-bottom: 2px solid #68b738;
  }

  .site-list__item a {
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    width: 480px;
  }

  .site-list__item--active {
    border-bottom: 2px solid #ffffff;
  }

  .site-list__item a {
    font-size: 20px;
    line-height: 25px;
    color: #ffffff;
  }
}
