.site-list__item {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  list-style: none;
}

.site-list__item a {
  font-size: 20px;
  line-height: 20px;
  color: #444444;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
