.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0 auto;
}

.social__link {
  display: block;
}

.social__link--vkontakte {
  width: 30px;
  height: 16px;
}

.social__link--instagram {
  width: 23px;
  height: 23px;
}

.social__link--facebook {
  width: 14px;
  height: 28px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__item {
  list-style: none;
  margin-right: 40px;
}
