@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswald-regular-webfont.woff2") format("woff2");
  src: url("../fonts/oswald-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswald-bold-webfont.woff2") format("woff2");
  src: url("../fonts/oswald-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  background-color: #ffffff;
  min-width: 320px;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
